body {
    font-size: 25px;
    background-color: rgb(54, 8, 8);
    }


p {
 color: aliceblue;
}
.heading {
    text-align: center;
    position: absolute;
    top: 0%;
    left: 0%;
   width: 100%;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
   
}

.maintext {
max-width: 500px;
margin: auto;
background: rgba(9, 7, 44, 0.397);
padding: 10px;
position: absolute;
text-align: center;
z-index: 999999;
font-size: large;
overflow-wrap: break-word;
margin-left: 8%;
margin-top: 8%;
}
.image {
 position: fixed;
 right: 0%;
 bottom: 0%;
}

.footer {
position: absolute;
bottom: 0%;
left: 0%;
width: 100%;
height: 5ch;
font-size: small ;
background-color:black

}

.imageleft{
    position: fixed;
    left: 0%;
    bottom: 0%;
}

.middle {
    height: 200px;
    width: 500px;
    background: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}