.body {
    font-size: 25px;
    background-color: rgb(54, 8, 8);
    }
.content {
max-width: 500px;
margin: auto;
background: rgba(9, 7, 44, 0.397);
padding: 10px;
position: absolute;
text-align: center;
z-index: 999999;
font-size: large;
overflow-wrap: break-word;
margin-left: 8%;
margin-top: 8%;
}
.image {
 position: fixed;
 right: 0%;
 bottom: 0%;
}
.header {
text-align: center;
position: absolute;
top: 0%;
left: 0%;
background-color: rgba(0, 0, 0, 0.774);
width: 100%;
}
.footer {
position: relative;
bottom: 0%;
left: 0%;
width: 100%;
font-size: small ;
background-color:black


}